* {
  margin: 0px;
  padding: 0px;
}
.backgruond {
  background-color: #f1f3f4;
}
.fontColor {
  color: white;
}
.icon {
  width: 3rem;
}
.navBar {
  background-color: #324c66;
}
.banner {
  height: 35rem;
  background-image: url("../assets/images/balcon.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.formContainer {
  display: flex;
  justify-content: center;
}
.form {
  background-color: #50a1bd;
  width: 90%;
  height: 15rem;
  align-self: center;
  border-radius: 1rem;
}
.input {
  height: 10rem;
}
.primaryButton {
  background-color: #324c66;
  border-color: #324c66;
}
.description {
  margin: 2rem;
  /* text-align: center; */
  width: 90%;
}
.importantText {
  font-weight: bold;
  color: #324c66;
}
.imageCard {
  /* height: 26rem; */
}
linkCard {
    color: #324c66;
}
.footer {
  background-color: #324c66; 
  color: #fff; /* Color del texto en el footer */
  padding: 1rem;
  margin-top: 2rem;
}
.footer-grid {
  display: grid;
    grid-template-columns: 1fr 1.25fr 1.25fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}

.footerBranch {
  grid-column: span 1; 
    grid-row: span 2;
}
.footerContact{
  grid-column: 2;
  grid-row: span 1;
}
.footerRRSS{
  grid-column: 2 / span 2;
  grid-row: 2;
}
.footerNav{
  grid-column: 3;
    grid-row: span 1; 
}
.logoImage{
  border-radius: 1rem;
}
.apartmentBackgruond{
  background-color: #324c66;
  height: 100%;
  display: flex;
  justify-content: center;
}
.bannerImages {
  display: grid;
  grid-template-rows: 1fr 1fr; 
  grid-template-columns: 0.5fr 0.7fr 0.7fr 0.7fr;
  grid-gap: 1rem; 
  width: 100%; 
  justify-content: space-evenly;
  justify-items: center;
  padding-bottom: 2rem;
}
.principalImage {
  grid-column: span 2;
  grid-row: span 2;
}
.imagen1,
.imagen2,
.imagen3,
.imagen4 {
  grid-column: span 1;
  grid-row: span 1;
}

.bannerImages img {
  border-radius: 0.2rem;
  object-fit: cover; 
}
.apartmentDescription{
  width: 50%;
}
